In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_a_trans = pd.read_csv('Zach_Statham_platform_a_trans_data.csv', index_col=None, header=0)
g = df_a_trans.groupby(['unique_id'])
df_a_trans_agg = g.last().sort_index().reset_index().drop_duplicates()
store = pd.HDFStore('df_a_trans_agg.h5')
store['df_a_trans_agg'] = df_a_trans_agg  # save it

In [9]:
df_b_trans = pd.read_csv('Zach_Statham_platform_b_trans_data.csv', index_col=None, header=0)
g = df_b_trans.groupby(['unique_id'])
df_b_trans_agg = g.last().sort_index().reset_index().drop_duplicates()
store = pd.HDFStore('df_b_trans_agg.h5')
store['df_b_trans_agg'] = df_b_trans_agg  # save it

/home/ec2-user/anaconda3/envs/tensorflow_p36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3343: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block2_values] [items->Index(['unique_id', 'loan_status'], dtype='object')]

  exec(code_obj, self.user_global_ns, self.user_ns)

In [10]:
df_c_trans = pd.read_csv('Zach_Statham_platform_c_trans_data.csv', index_col=None, header=0)
g = df_c_trans.groupby(['unique_id'])
df_c_trans_agg = g.last().sort_index().reset_index().drop_duplicates()
store = pd.HDFStore('df_c_trans_agg.h5')
store['df_c_trans_agg'] = df_c_trans_agg  # save it

In [11]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [21]:
import pandas as pd
li = []
store = pd.HDFStore('df_a_trans_agg.h5')
df_a = store['df_a_trans_agg']
li.append(df_a)

store = pd.HDFStore('df_b_trans_agg.h5')
df_b = store['df_b_trans_agg']
li.append(df_b)

store = pd.HDFStore('df_c_trans_agg.h5')
df_c = store['df_c_trans_agg']
li.append(df_c)

In [29]:
df_all_trans_agg = pd.concat(li, axis=0, ignore_index=True)

In [31]:
df_all_trans_agg.shape

(599303, 12)

In [33]:
store = pd.HDFStore('df_all_orig.h5')
df_all_orig_agg = store['df_all_orig']

In [34]:
all_data = df_all_orig_agg.merge(df_all_trans_agg, on='unique_id', how='left')

In [37]:
store = pd.HDFStore('all_data.h5')
store['all_data'] = all_data  # save it

/home/ec2-user/anaconda3/envs/tensorflow_p36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3343: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed-integer,key->block2_values] [items->Index(['unique_id', 'Orig_Date', 'grade', 'home_ownership', 'platform_id',
       'orig_date', 'loan_status', 'report_date'],
      dtype='object')]

  exec(code_obj, self.user_global_ns, self.user_ns)

In [38]:
all_data.describe()

,loan_amount,monthly_payment,income,inq_last_6m,num_open_accts,revol_bal,num_tot_accts,tot_credit_bal,accts_opn_last_6m,inq_last_12m,...,dti,mob,bom,ppmt,ipmt,co_amt,prepay_amt,eom,prepay,default
count,599303.000000,599303.000000,5.993030e+05,488816.000000,544949.000000,5.443500e+05,544942.000000,5.449480e+05,487102.000000,522290.000000,...,598972.000000,599303.000000,599303.000000,599303.000000,599303.000000,599303.000000,599303.000000,599303.000000,599303.000000,599303.000000
mean,14190.012063,426.565362,8.162843e+04,0.745387,11.074699,1.457158e+04,21.478623,1.338453e+05,29.927927,2.363403,...,0.210065,21.034025,7887.289949,169.853175,84.086599,1417.506514,3117.759339,4293.910263,0.399334,0.130111
std,8958.324328,262.379278,1.266658e+06,1.342637,6.014163,2.022921e+04,12.273181,1.618214e+05,448.973648,2.469716,...,0.148284,9.913707,7123.363798,453.367976,122.902236,4571.685060,6009.162468,6424.424595,0.489762,0.336426
min,0.000000,30.120000,0.000000e+00,-4.000000,-4.000000,-4.000000e+00,1.000000,-4.000000e+00,-5.000000,-4.000000,...,-0.010000,0.000000,-24000.000000,-9176.010000,-2830.390000,-18049.960000,-24000.000000,-18082.590000,0.000000,0.000000
25%,7500.000000,234.930000,4.600000e+04,0.000000,7.000000,4.364000e+03,13.000000,2.173500e+04,0.000000,1.000000,...,0.130000,14.000000,2396.315000,0.000000,5.004725,0.000000,0.000000,0.000000,0.000000,0.000000
50%,12000.000000,359.020000,6.500000e+04,1.000000,10.000000,9.305000e+03,19.000000,6.215150e+04,1.000000,2.000000,...,0.194600,21.000000,6000.000000,0.000000,41.670000,0.000000,0.000000,600.000000,0.000000,0.000000
75%,20000.000000,562.680000,9.500000e+04,1.000000,14.000000,1.781700e+04,28.000000,2.060278e+05,2.000000,3.000000,...,0.270264,28.000000,11378.150000,266.295000,114.560000,0.000000,3903.405000,6728.117805,1.000000,0.000000
max,50000.000000,1714.540000,7.550006e+08,18.000000,101.000000,1.392002e+06,206.000000,5.734234e+06,9997.000000,43.000000,...,9.990000,47.000000,49408.410000,40000.000000,17577.520000,47655.160000,49408.410000,41624.460000,1.000000,1.000000